html, body {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #999;
}

.paralax-section {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.text-center {
    text-align: center;
}

ul.horizontal-list {
    list-style: none;
}

ul.horizontal-list > li {
    display: inline;
}