<script>
    import Tailwindcss from './Tailwindcss.svelte';

    import Intro from './Intro.svelte';
    import Social from './Social.svelte';
    import Game from './Game.svelte';
    import Modal from './Modal.svelte';

    import { getContext } from 'svelte';

    // const { openModal } = getContext('game-modal');
</script>

<Tailwindcss />
<Modal />

<main class="bg-gray-100">
    <Social />
    <Intro />
    <Game />
</main>
