<script>
import Tile from './Tile.svelte'
export const gameList = [{
    title: 'Flappy Slime',
    gameName: 'flappy-slime',
    thumbnail: null,
    repos: [{ type: 'github', url: 'https://github.com/mmcoulombe/flappy_slime'}],
    tags: ['godot', 'clone'],
    excerpt: 'Flappy brid clone. First project using Godot game engine. Very minimal but I am still happy with the result for 2 days of work'
}];

function playGame(event) {
    console.log(event.detail.game);
}

</script>

<div class="container mx-auto">
    <h1 class="font-bold text-center uppercase py-6 text-3xl">Project(s)</h1>
    <div id="game-list">
        {#each gameList as game}
            <Tile on:playGame={playGame} {...game} />
        {/each}
    </div>
</div>

<style>
    h1 {
        color: #565656;
    }
</style>