<script>
    import SearchInput from './SearchInput.svelte';
</script>

<section id="top-cover" style="background-color: #667eea">
    <div class="container mx-auto flex items-center text-center h-full px-6 py-20">
        <div class="mx-auto">
            <span class="text-3xl border uppercase">A programer playground</span>
            <nav class="pt-8">
                <SearchInput />
            </nav>
        </div>
    </div>
</section>

<style>
    #top-cover {
        height: calc(100vh - 180px);
        min-height: 520px;
    }

    span.border {
        background-color: #111;
        color: #fff;
        padding: 1em;
        letter-spacing: 10px;
    }
</style>