<script>
	import { createEventDispatcher } from 'svelte';
    export let gameName;

	const dispatch = createEventDispatcher();

	function playGame() {
		dispatch('playGame', {
			game: gameName
		});
	}
</script>

<button  on:click={playGame} class="block mx-auto rounded-md px-5 py-2 bg-green-500 text-white">Play</button>

<style>
    button:focus {
        outline: none;
    }
</style>