<aside class="top-right">
    <ul class="horizontal-list">
        <li><a href="https://github.com/mmcoulombe"><img src="images/icons/GitHub-Mark-32px.png" alt="GitHub" /></a></li>
        <li><a href="https://codeberg.org/mmcoulombe"><img src="images/icons/codeberg.png" alt="CodeBerg" /></a></li>
    </ul>
</aside>

<style>
    .top-right {
        position: fixed;
        right: 0;
        top: 0;
        padding: 15px;
        z-index: 10;
    }

    li {
        padding-left: 10px;
        padding-right: 10px;
    }

    img {
        display: inline;
        opacity: 0.8;
    }
</style>