<script>
    import PlayGame from './PlayGame.svelte';

    export let title;
    export let gameName;
    export let thumbnail;
    export let repos; // [{ type: 'github', url: 'https://github.com/mmcoulombe/flappy_slime'}],
    export let tags; //: ['godot', 'clone'],
    export let excerpt;
</script>

<div id="tile" class="w-auto inline-block rounded-lg border-solid border-2 border-gray-400 bg-white shadow-xs">
    <p class="font-semibold text-lg text-center">{title}</p>
    {#if thumbnail}
        <img src="img/{thumbnail}" alt="{gameName}-icon" />
    {:else}
        <svg class="mx-auto" width="96" height="96">
            <rect width="96" height="96" style="fill:rgb(100,100,100);stroke-width:4;stroke:rgb(50,50,50)" />
        </svg>
    {/if}
    <p class="text-base text-center leading-5 m-4" >{excerpt}</p>
     <PlayGame on:playGame {gameName} />
    <div id="tag">
        {#each repos as repo}
            {#if repo.type.toLowerCase() == "github"}
                <a href="{repo.url}" alt="github-url" class="block text-right">
                    <img width="16" height="16" src="images/icons/GitHub-Mark-32px.png" alt="GitHub" />
                </a>
            {:else}
                <a href="{repo.url}" alt="github-url">
                    code_berg
                </a>
            {/if}
        {/each}
    </div>
</div>

<style>
    #tile {
        width: 300px;
        height: 300px;
    }
</style>